# Ignore IDE files
.idea
.vscode
.vs
/vs
*.pyproj

# Ignore OS artifacts
.DS_Store

# Ignore virtual environments
.python-version
.venv

# No compiled Python artifacts
*.pyc

# Ignore build artifacts
/dist